body {
    margin: 0;
    padding: 0;
    background-color: #f9fdff;
    /* background-color: aqua; */

}

.doctor {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.doctor img {
    border-radius: 50%;
    border: 2px solid #023047;
    box-shadow: 2px 2px 2px 2px rgb(2, 48, 71, 0.2);
    width: 30%;
    height: 30%;
    margin-top: 5vh;
    margin-left: 10vh;
    /* padding: 5vh; */
    /* padding-top: 5vh; */
    /* padding-left: 10vh; */
}

.discrapion span {
    display: flex;
    font-size: 10vh;
    margin-right: 20vh;
    margin-top: 20vh;
    color: #023047;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.discrapion p {
    font-size: 4vh;
    font-family: "Roboto", sans-serif;
    width: 400;
    color: silver;
}

.rate {
    font-size: 5vh;
}

.main {
    /* display: flex; */
    /* justify-content: center; */
    width: 40%;
    /* height: 30%; */
    /* border: 2px solid #023047; */
    margin-top: 10vh;
    margin-left: 10vh;
    background-color: #023047;
    border-radius: 10px;

}

.main span {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    font-size: 4vh;
    padding-bottom: 2vh;
    font-family: "Roboto", sans-serif;
    color: #f9fdff;
    padding-top: 2vh;
}

.book1 {
    /* width: 30%; */
    display: flex;
    justify-content: space-between;
    color: #f9fdff;
    border-radius: 10px;
}

.book1 p {
    font-size: 5vh;
    margin-left: 2vh;
    font-family: "Roboto", sans-serif;

}

.book1 input {
    width: 4vh;
    margin-right: 2vh;
}


#btn {
    margin-left: 35%;
    margin-top: 2vh;
    padding: 2vh 10vh;
    margin-bottom: 2vh;
    background-color: #f9fdff;
    border-bottom: none;
    color: #023047;
    font-size: 2.5vh;
    border-radius: 10px;
    cursor: pointer;
}

#booked1 {
    transition: 1.5s ease;
}

#booked1:hover {
    border: #023047 2px solid;
    box-shadow: rgb(2, 48, 71, 0.2);
    background-color: #f9fdff;
    color: #023047;
    transform: scale(1);
}

.main-ul {
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    margin-left: 10vh;
    background-color: #023047;
    border-radius: 10px;
    padding: 2vh 15vh;
}

.time {
    color: #f9fdff;
    font-size: 4vh;
    font-family: "Roboto", sans-serif;
    margin-right: 5vh;

}

.dele {
    display: flex;

    background-color: #f9fdff;
    color: rgb(2, 48, 71);
    border-radius: 10px;
    padding: 1vh 4vh;
}

.massege {
    width: 25%;
    background-color: #f8d7da;
    color: #721c24;
    display: flex;
    margin-left: 10vh;
    border-radius: 10px;
    padding: 2vh 15vh;
    font-size: 4vh;
}


.sections {
    display: flex;
}

.reviews-upload {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* background-color: #e3f7ff; */
    /* padding: 5vh; */
    /* height: 100vh; */
    row-gap: 5vh;
    /* column-gap: 5px; */
    /* justify-content: flex-end;
    align-items: center; */
    /* padding: 20px 200px; */
}

.reviews {
    /* background-color: #e3f7ff; */
    background-color: rgb(249, 253, 255);
    box-shadow: 2px 2px 2px 2px rgb(2, 48, 71, 0.2);
    /* padding: 10vh 15vh; */
    margin-left: 30vh;
    margin-top: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    /* margin-right: 10vh; */
    padding-top: 5vh;
    padding-bottom: 18vh;
    border-radius: 10px;
    height: 30vh;
    /* display: flex; */
    /* justify-content: space-between; */
    /* position: relative; */
}

.rev1 label {
    display: flex;
    justify-content: center;
    font-size: 8vh;
    font-family: "Roboto", sans-serif;
    color: rgb(2, 48, 71);
}

.rev1 input {
    display: flex;
    margin-top: 3vh;
    justify-content: center;
    padding: 7vh 4vh;
    font-size: 3vh;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(241, 241, 241);
    /* border-block-end: #023047; */
    transition: 0.9s ease;
}

.rev1 input:hover {
    transform: scale(1.2);
    /* border-style: none; */
}



.reviews button {
    display: flex;
    /* justify-content: center; */
    margin-left: 3vh;
    margin-top: 4vh;
    padding: 4vh 10vh;
    border-radius: 10px;
    border-style: none;
    background-color: #023047;
    color: #f9fdff;
    font-size: 3vh;
    transition: 1.2s ease;
    cursor: pointer;
}

.reviews button:hover {
    transform: scale(1.1);
}

.upload {
    background-color: rgb(249, 253, 255);
    box-shadow: 2px 2px 2px 2px rgb(2, 48, 71, 0.2);
    /* padding: 10vh 15vh; */
    height: 9vh;
    margin-left: 30vh;
    margin-top: 8vh;
    padding-left: 15vh;
    padding-right: 15vh;
    /* margin-right: 10vh; */
    padding-top: 5vh;
    padding-bottom: 18vh;
    border-radius: 10px;
}

#form2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #023047;
    padding:2vh 5vh;
    margin-top: 5vh;
    border-radius: 10px;
    /* cursor: pointer; */
}

.upload label{
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    font-size: 5vh;
    font-family: "Roboto", sans-serif;
    color:#f9fdff;
    /* cursor: pointer; */
}

.upload i{
    color: #f9fdff;
    margin-right: 1vh;
    /* cursor: pointer; */

}



.upload button{
    margin-left: 15vh;
    margin-top: 4vh;
    border-style: none;
    padding: 2vh 5vh;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
cursor: pointer;
transition: 1.2s ease;
}

.upload button:hover{
    transform: scale(1.1);
    background-color: #023047;
    color: #f9fdff;
}

input[type = "file"]
{
    display: none;
    /* cursor: pointer; */
}

